@import "tailwindcss";
@source "../..";
@plugin '@tailwindcss/forms';

@font-face {
	font-family: "custom";
	font-weight: 1 1000;
	font-stretch: 60% 120%;
	src: url(font-ZkB2T03E.woff2) format("woff2");
}


@theme {
	--breakpoint-xs: 400px;

	--font-sans: 'custom', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	/* Utopia config: lost */
	--step--2: clamp(0.6877rem, 0.9392rem + -0.2515vw, 0.8889rem);
	--step--1: clamp(0.9724rem, 1.0069rem + -0.0345vw, 1rem);
	--step-0: clamp(1.125rem, 1.0625rem + 0.3125vw, 1.375rem);
	--step-1: clamp(1.2656rem, 1.096rem + 0.8483vw, 1.9443rem);
	--step-2: clamp(1.4238rem, 1.0925rem + 1.6567vw, 2.7492rem);
	--step-3: clamp(1.6018rem, 1.0304rem + 2.8569vw, 3.8873rem);
	--step-4: clamp(1.802rem, 0.8784rem + 4.6183vw, 5.4967rem);

	--spacing: calc(var(--step-0) / 4);

	--text-base: calc(var(--step-0) * 1);
	--text-base--line-height: calc(var(--spacing) * 6);
	--spacing-lh: var(--text-base--line-height);

	--text-lg: calc(var(--step-0) * 1.6);
	--text-lg--line-height: calc(var(--spacing) * 6);

	--text-xl: calc(var(--step-0) * 2.4);
	--text-xl--line-height: calc(var(--spacing) * 7);

	--color-gray-50:  var(--color-neutral-50);
	--color-gray-100: var(--color-neutral-100);
	--color-gray-200: var(--color-neutral-200);
	--color-gray-300: var(--color-neutral-300);
	--color-gray-400: var(--color-neutral-400);
	--color-gray-500: var(--color-neutral-500);
	--color-gray-600: var(--color-neutral-600);
	--color-gray-700: var(--color-neutral-700);
	--color-gray-800: var(--color-neutral-800);
	--color-gray-850: color-mix(in lab, var(--color-gray-800) 80%, var(--color-gray-900));
	--color-gray-900: var(--color-neutral-900);
	--color-gray-950: var(--color-neutral-950);

	--color-toxic: oklch(95.7% 0.238 111.18);

	/** special spacing for collapsed grid */
	--spacing-lh-5dvh: calc(var(--spacing) * 6 + 5dvh + 2px);
}

:root {
	color-scheme: light dark;
}
body {
	scroll-behavior: smooth;
}

@layer components {
	button {
		@apply px-1 rounded-sm text-sm border border-gray-400 dark:border-gray-600 bg-gray-100 dark:bg-gray-900 text-black dark:text-white disabled:opacity-40;
	}
	select {
		@apply appearance-none w-full px-1 py-1 rounded-sm text-sm border border-gray-400 dark:border-gray-600 bg-gray-100 dark:bg-gray-900 text-black dark:text-white disabled:opacity-40 ;
	}
	input[type="text"] {
		@apply w-full px-1 py-1 rounded-sm text-sm border border-gray-400 dark:border-gray-600 bg-gray-100 dark:bg-gray-900 text-black dark:text-white disabled:opacity-40;
	}
	label {
		@apply font-medium tracking-wide block text-sm px-2 py-1;
	}
}

@layer utilities {
	.grid-app {
		gap: 2px;
		background: light-dark(var(--color-gray-300), --alpha(var(--color-gray-700) / 80%));
		grid-template-columns: 1fr;
		grid-template-areas:
			"config-header"
			"config"
			"input-header"
			"input"
			"output-header"
			"output";
		@media (width >= theme('breakpoint-md')) {
			grid-template-columns: max(400px, 60%) 1fr;
			grid-template-rows: var(--text-base--line-height) 1fr var(--text-base--line-height) 1fr;
			grid-template-areas:
				"config-header input-header"
				"config input"
				"config output-header"
				"config output";

			&[data-expanded] {
				grid-template-columns: 10% 90%;
				.grid-area-config:after {
					content: " ";
					display: block;
					position: absolute;
					inset: 0;
					z-index: 20;
					pointer-events: none;

				}
				.grid-area-config, .grid-area-config-header {
					overflow: hidden;
				}
			}
			&[data-expanded="input"] {
				grid-template-rows: var(--text-base--line-height) 1fr var(--text-base--line-height) 5dvh;
			}
			&[data-expanded="output"] {
				grid-template-rows: var(--text-base--line-height) 5dvh var(--text-base--line-height) 1fr;
			}
		}
	}
}
@utility grid-area-* {
	position: relative;
	grid-area: --value('config-header', 'config', 'input-header', 'input', 'output-header', 'output');
}

